node_modules
dist/bundle.js
dist/*.svg
dist/*.png
dist/*.jpg
dist/*.jpeg
dist/*.woff*
dist/*.svg
dist/*.ttf
dist/*.eot
public/bundle.js
public/*.svg
public/*.png
public/*.jpg
public/*.jpeg
public/*.woff*
public/*.svg
public/*.ttf
public/*.eot
.vscode