.job-postings-content.container
    each jobPosting in jobPostings
        .job-posting-item
            .job-posting-title= jobPosting.attributes.title
            .job-posting-industry= jobPosting.attributes.industry
            .job-posting-description!= jobPosting.attributes.jobDescription
