.login-page-content.container
    .login-page-title= 'Log in for the service'
    .row
        .col-sm-3
        button.col-sm-6.login-button.btn.btn-danger= 'Log in with Google account'
        .col-sm-3
