.todo-items-view-content.container
    .input-group
        input.todo-item-input.form-control(type='text', placeholder='input todo item')
        span.input-group-btn
            button.btn.btn-default.add-todo-button(type='button')= 'Add'
    ul
        each item in items
            li.todo-item-content= item.text